<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- Section-->
<section class="py-5" th:fragment="main">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div th:each="product : ${products}" class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" th:src="@{'data:image/jpeg;base64,'+${product.imageBase64}}" />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder" th:text="${product.name}">Special Item</h5>
                            <!-- Product reviews-->
                            <div th:text="${product.description}"
                                 class="d-flex justify-content-center small text-warning mb-2">
                            </div>
                            <!-- Product price-->
                            <span th:utext="${product.cost}" class="text-muted">$20.00</span>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <form class="d-flex me-2" th:object="${addProductToCart}" th:action="@{/addtocart}" method="post">
                            <input type="hidden" name="id" id="id" th:value="${product.id}"/>
                            <div class="text-center">
                                <button class="btn btn-outline-dark" type="submit">
                                    Add to cart
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>