<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"  lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css"/>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css"
          integrity="sha512-UyNhw5RNpQaCai2EdC+Js0QL4RlVmiq41DkmCJsRV3ZxipG2L0HhTqIf/H9Hp8ez2EnFlkBnjRGJU2stW3Lj+w=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <title>Cart</title>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=fb865fe6-e47c-4f7f-a47f-8016670866a0&lang=ru_RU"
            type="text/javascript">
    </script>
    <script type="text/javascript">
        ymaps.ready(init);

        function init() {
            var myMap = new ymaps.Map("map", {
                center: [53.901048, 27.559321],
                zoom: 11
            });
            [(${points})]
        }
    </script>
</head>
<body class="d-flex flex-column justify-content-center min-vh-100">
<div th:replace="fragments/navbar :: navbar"></div>
<div th:replace="fragments/header :: header"></div>
<!--<div th:replace="fragments/cart :: cartItem"></div>-->
<div class="d-flex flex-row justify-content-center  flex-wrap">
    <div th:replace="fragments/cart :: bodycart"></div>
    <div>
        <div id="map"></div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>
</html>