<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Login page</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>

<div th:replace="fragments/navbar :: navbar"></div>
<div th:replace="fragments/header :: header"></div>

<p th:if="${loginError}" class="error">Wrong user or password</p>
<form th:action="@{/login.html}" method="post">
  <label for="username">Username</label>:
  <input type="text" id="username" name="username" autofocus="autofocus" /> <br />
  <label for="password">Password</label>:
  <input type="password" id="password" name="password" /> <br />
  <input type="submit" class="btn btn-primary btn-sm" value="Log in" />
</form>

<div th:replace="fragments/footer :: footer"></div>



<div th:text="${#authentication.principal}">
  The value of the "name" property of the authentication object should appear here.
</div>

<h1>Login page</h1>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

</body>
</html>