<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" rel="stylesheet">
    <link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          referrerpolicy="no-referrer" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <title>Sign-Up</title>
</head>
<body class="d-flex flex-column min-vh-100">
<div th:replace="fragments/navbar :: navbar"></div>
<div th:replace="fragments/header :: header"></div>
<div class="d-flex justify-content-center align-content-center">
    <div class="shadow p-3 mb-5 bg-white rounded mt-4" id="signup" sec:authorize="!isAuthenticated()">
        <label class="h3">Signup</label>
        <form class="d-flex me-2 flex-column justify-content-between" action="#" method="post" th:action="@{/signup}" th:object="${user}">
            <div class="form-group d-flex flex-column mt-2">
                <label for="name" th:text="name"></label>
                <input id="name"  th:value="${user.name}"  th:field="*{name}"  th:placeholder="name" type="text"/>
                <label for="username" class="small text-danger" th:if="${#fields.hasErrors('name')}"  th:errors="*{name}"></label>
            </div>
            <div class="form-group d-flex flex-column mt-2">
                <label for="username" th:text="username"></label>
                <input id="username" th:value="${user.username}"  th:field="*{username}" th:placeholder="username" type="text"/>
                <label for="username" class="small text-danger" th:if="${#fields.hasErrors('username')}"  th:errors="*{username}"></label>
            </div>
            <div class="form-group d-flex flex-column mt-2">
                <label for="password" th:text="password"></label>
                <input id="password" th:field="*{password}" th:placeholder="password" type="password"/>
                <label for="username" class="small text-danger" th:if="${#fields.hasErrors('password')}"  th:errors="*{password}"></label>
            </div>
            <div class="form-group d-flex flex-column mt-2">
                <label for="email" th:text="email"></label>
                <input id="email"  th:value="${user.email}" th:field="*{email}" th:placeholder="email" type="email"/>
                <label for="username" class="small text-danger" th:if="${#fields.hasErrors('email')}"  th:errors="*{email}"></label>
            </div>
            <div class="form-group d-flex flex-column mt-2">
                <label for="phone" th:text="phone"></label>
                <input id="phone" th:value="${user.phone}" th:field="*{phone}" th:placeholder="375291234567" type="tel"/>
                <label for="username" class="small text-danger" th:if="${#fields.hasErrors('phone')}"  th:errors="*{phone}"></label>
            </div>
            <button class="btn btn-outline-dark mt-3" type="submit">
                Sign-Up
            </button>
        </form>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
<script crossorigin="anonymous"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>