<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <title>userinfo</title>
</head>
<body>
<div sec:authorize="hasRole('ROLE_ADMIN')">
    Hello admin.
</div>
<div sec:authorize="hasRole('ROLE_USER')">
    Hello user.
</div>

<div sec:authorize="!isAuthenticated()">
    <a href="/login">login</a>
</div>
<div sec:authorize="isAuthenticated()">
    <a href="/userinfo">userinfo</a>
    <a href="/logout">logout</a>
</div>


<table class="table table-sm">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Handle</th>
        <th scope="col">Handle</th>
    </tr>
    </thead>
    <tbody th:each="order : ${userorders}">
    <tr>
        <td th:text="${order.id}">Onions</td>
        <td th:text="${order.user.username}">Onions</td>
        <td th:text="${order.orderDateTime}">Onions</td>
        <td th:text="${order.cost}">Onions</td>

    </tr>
    </tbody>
</table>

<div th:if="${userorders.getTotalPages > 1}">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li th:if="${currentPage>0}" class="page-item">
                <a class="page-link" th:href="@{/userinfo(page=${currentPage-1})}">Previous</a></li>
            <li th:if="${currentPage!=0}" class="page-item">
                <a class="page-link" th:href="@{/userinfo(page=0)}">First</a></li>
            <li class="page-item">
                <a class="page-link" th:href="@{/userinfo(page=${currentPage})}" th:text="${currentPage+1}"></a></li>
            <li th:if="${currentPage!=userorders.getTotalPages-1}" class="page-item">
                <a class="page-link" th:href="@{/userinfo(page=${userorders.getTotalPages-1})}">Last(<span
                        th:text="${userorders.getTotalPages-1}"></span>)</a></li>
            <li th:if="${currentPage<userorders.getTotalPages-1}" class="page-item">
                <a class="page-link" th:href="@{/userinfo(page=${currentPage+1})}">Next</a></li>
        </ul>
    </nav>
</div>


Logged user: <span sec:authentication="name">Bob</span>
Roles: <span sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</span>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>

</body>
</html>